@import "../utils/container.scss";
@import "../utils/mixins";

.header__section {
  display: flex;
  align-items: center;
  height: 42px;

  background: #696969;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  margin-left: auto;
  @include tablet {
    gap: 15px;
  }
}

.box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__icon {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    scale: 1.4;
  }
}
